
body {
    background-color: #5B5252;
    background-image: url("/images/fabric_of_squares_gray.png");
    text-align: center;
    font-family: "Open Sans", Geneva, sans-serif;
    font-size: 100%;
}
h1 {
    font-size: 3.5em; /* 48 / 16 */
}
h2 {
    font-size: 2.75em; /* 36 / 16 */
}
h3 {
    font-size: 2em; /* 24 / 16 */
}
h4 {
    font-size: 1.3125em; /* 21 / 16 */
}
h5 {
    font-size: 1.125em; /* 18 / 16 */
}
h6 {
    font-size: 1em; /* 16 / 16 */
}
p {
    font-size: 1em; /* 16 / 16 */
}


 	/* header */
.header {
	background-image: url("/images/fabric_of_squares_gray.png");
	border-bottom: solid 8px #c0392b;
	margin: 18px 0 0 0;
}
.headerMobile {
	display: none;
}
.header p {
	color: #DCDBD6;
/*	text-shadow: 0px 0px 2px #F5F3EE;*/
	text-decoration: none;
	font-family: 'Rokkitt', serif;
	font-size: 6em;
	margin: -30px 0 0 0;
}
.titleFill {
	color: #C0392B;
	text-shadow: 2px 2px 2px gray;
	font-family: 'Rokkitt', serif;
}
.titleFill:hover {
	text-decoration: none;
	color: #e74c3c;
	text-shadow: 2px 2px 2px gray;
}
.colorOne:hover {
	color: #F1948A;
}
.colorTwo:hover {
	color: #F0B27A;
}
.colorThree:hover {
	color: #F7DC6F;
}
.colorFour:hover {
	color: #76D7C4;
}
.colorFive:hover {
	color: #85C1E9;
}

	/* menu */

.menu {
	font-size: 3.0em;
	background-image: url("/images/fabric_of_squares_graydark.png");
	width: 100%;
	text-align: right;
}
.menu p {
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: .3%;
	text-shadow: 1px 1px 2px black;
}
.navButton {
	margin: 1.5% 0;
  text-align: center
}
.introSmall {
	display: none;
}
.btn-default {
  min-width: 100px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.btn {
	text-shadow: 1px 1px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	color: #fff;
	font-weight: bold;
  text-align: center;
}
.menuOne {
	background-image: -webkit-linear-gradient(top,#e74c3c 0,#c0392b 100%);
    background-image: -o-linear-gradient(top,#e74c3c 0,#c0392b 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e74c3c),to(#c0392b));
    background-image: linear-gradient(to bottom,#e74c3c 0,#c0392b 100%);
	background-repeat: repeat-x;
  border-color: #AD3327;
}
.menuOne:hover {
	background-image: none;
	background-color: #e74c3c;
}
.menuTwo {
	background-image: -webkit-linear-gradient(top,#e67e22 0,#d35400 100%);
    background-image: -o-linear-gradient(top,#e67e22 0,#d35400 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e67e22),to(#d35400));
    background-image: linear-gradient(to bottom,#e67e22 0,#d35400 100%);
	background-repeat: repeat-x;
  border-color: #BE4C00;
}
.menuTwo:hover {
	background-image: none;
	background-color: #e67e22;
}
.menuThree {
	background-image: -webkit-linear-gradient(top,#f1c40f 0,#f39c12 100%);
    background-image: -o-linear-gradient(top,#f1c40f 0,#f39c12 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1c40f),to(#f39c12));
    background-image: linear-gradient(to bottom,#f1c40f 0,#f39c12 100%);
	background-repeat: repeat-x;
  border-color: #DB8C10;
}
.menuThree:hover {
	background-image: none;
	background-color: #f1c40f;
}
.menuFour {
	background-image: -webkit-linear-gradient(top,#1abc9c 0,#16a085 100%);
    background-image: -o-linear-gradient(top,#1abc9c 0,#16a085 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1abc9c),to(#16a085));
    background-image: linear-gradient(to bottom,#1abc9c 0,#16a085 100%);
	background-repeat: repeat-x;
  border-color: #149078;
}
.menuFour:hover {
	background-image: none;
	background-color: #1abc9c;
}
.menuFive {
	background-image: -webkit-linear-gradient(top,#3498db 0,#2980b9 100%);
    background-image: -o-linear-gradient(top,#3498db 0,#2980b9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3498db),to(#2980b9));
    background-image: linear-gradient(to bottom,#3498db 0,#2980b9 100%);
	background-repeat: repeat-x;
  border-color: #2573A6;
}
.menuFive:hover {
	background-image: none;
	background-color: #3498db;
}

/* 'things i've made' section */
.madeLeader{
	color: #c0392b;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #c0392b;
	text-decoration: none;
	text-shadow: 1px 1px 1px #15181C;
	font-family: 'Rokkitt', serif;
}
.madeBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 1% 0 5% 0;
	text-shadow: 2px 2px 6px #15181C;
}
.fa-cog {
	color:gray;
}
.returnHome {
	font-size: 1.2em;
	text-shadow: 1px 1px 1px #15181C;
	font-family: 'Rokkitt', serif;
}
.madeTitle {
	font-weight: bold;
	margin-bottom: 2%;
}
.titleTwo {
	padding-top: 2%;
	border-top: solid 2px white;
}
.madeBox img {
	width: 80%;
	margin-right: -25%;
	box-shadow: 2px 2px 6px #15181C;
}
.madeDescription {
	font-size: 2.5em;
	text-align: left;
	margin-top: 2%;
}
.madeLink {
	color: #f1c40f;
	text-decoration: none;
	font-size: 2.5em;
	margin-top: 2%;
}
.madeLink a {
	color: #f1c40f;
}
.bb-swap:hover {
	cursor: pointer;
}
.td-swap:hover {
	cursor: pointer;
}


/* 'things i've been' section */
.beenLeader{
	color: #d35400;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #d35400;
	text-decoration: none;
	text-shadow: 1px 1px 1px #15181C;
	font-family: 'Rokkitt', serif;
}
.beenBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
	text-shadow: 2px 2px 6px #15181C;
}
.fa-check-square-o {
	color:gray;
}


/* 'things i've learned' section */
.learnedLeader{
	color: #f39c12;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #f39c12;
	text-decoration: none;
	text-shadow: 1px 1px 1px #15181C;
	font-family: 'Rokkitt', serif;
}
.learnedBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
	text-shadow: 2px 2px 6px #15181C;
}
.fa-graduation-cap {
	color:gray;
}


/* 'things i've done' section */
.doneLeader{
	color: #16a085 !important;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #16a085;
	text-decoration: none;
	text-shadow: 1px 1px 1px #15181C;
	font-family: 'Rokkitt', serif;
}
.doneBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
	text-shadow: 2px 2px 6px #15181C;
}
.fa-bicycle {
	color:gray;
}


/* 'blog' section */
.blogLeader{
	color: #2980b9;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #2980b9;
	text-decoration: none;
	text-shadow: 1px 1px 1px #15181C;
	font-family: 'Rokkitt', serif;
}
.blogBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
	text-shadow: 2px 2px 6px #15181C;
}
.fa-pencil {
	color:gray;
}

	/* footer and links */
.footer {
	font-size: 3em;
	background-image: url("/images/fabric_of_squares_gray.png");
	text-decoration: none;
	padding: 2% 0 2% 0;
	font-size: 4em;
}
.footer a {
	padding: 0 2%;
	text-decoration: none
}
.footOne {
	color: #c0392b;
	text-shadow: 1px 1px 1px gray;
}
.footOne:hover {
	text-decoration: none;
	color: #e74c3c
}
.footTwo {
	color: #d35400;
	text-shadow: 1px 1px 1px gray;
}
.footTwo:hover {
	text-decoration: none;
	color: #e67e22
}
.footThree {
	color: #f39c12;
	text-shadow: 1px 1px 1px gray;
}
.footThree:hover {
	text-decoration: none;
	color: #e67e22
}
.footFour {
	color: #16a085;
	text-shadow: 1px 1px 1px gray;
}
.footFour:hover {
	text-decoration: none;
	color: #1abc9c
}
.footFive {
	color: #2980b9;
	text-shadow: 1px 1px 1px gray;
}
.footFive:hover {
	text-decoration: none;
	color: #3498db
}


/* project pages main template - this is for the first project - variations follow*/
.projectPage {
	background-image: url("/images/fabric_of_squares_graydark.png");
	padding: 1% 0;
}
.outerPage {
	background-image: url("/images/fabric_of_squares_gray.png");
	box-sizing: border-box;
	max-width: 77%;
	margin: auto;
	padding: 1% 1%;
}
.innerPage {
	background-image: url("/images/fabric_of_squares_gray.png");
	border: solid 8px #f39c12;
	box-sizing: border-box;
	max-width: 98%;
	margin: auto;
	padding: 1% 3%;
	margin: .5% .5%;
	font-size: 1.7em;
	text-align: left;
}
.innerPage ul {
	padding: 2% 2%;
}
.challenges h5 {
	font-size: 1em;
	font-weight: bold;
	//color: red;
	margin-bottom: 0.1%;
}
.projectTitle {
	text-shadow: 2px 2px 2px gray;
	font-family: 'Rokkitt', serif;
	color: #f39c12;
	text-align: center
}
.imgList {
	list-style-type: none;
}
.imgCaption {
	//font-size: 3em;
	width: 48%;
	display: inline-block;
	padding: 0 1%;
	text-align: center
}
.imgLeft {
	width: 48%;
	display: inline-block;
	padding: 1% 1%;
}
.imgRight {
	width: 48%;
	display: inline-block;
	padding: 1% 1%;
}
.listRow {
	background-image: url('/images/fabric_of_squares_graymed.png')
}

	/* project two variations */
.innerPageTwo {
	border: solid 8px #d35400;
}
.projectTitleTwo {
	color: #d35400;
}

	/* resume */
.resume {
	width: 1000px;
	font-family: "Gill Sans MT", serif;
	font-size: 2em;
	margin: auto;
	margin-top: 30px;
}
.resButton {
	text-decoration: none;
	color: white;
}
.resText {
	color: black;
	font-size: 18px;
	text-align: left;
}
.resText ul{
	margin-left: 115px;
}
.resTable {
	width: 90%;
	margin-left: 30px;
}
.resTable td {
	width: 30%;
}
.resName {
	text-align: left;
	font-size: 28pt;
}
.resTitle {
	text-align: right;
	font-size: 28pt;
	color: #C00000;
}
.resLinks {
	background-color: #C00000;
	text-decoration: none;
}
.resLinks a{
	color: white;
}
.resSection {
	text-align: left;
	color: #C00000;
	padding: 15px 0 5px 0;
}
.resDate {
	font-weight: bold;
	margin-bottom: 2px;
}

/*
.menuFive {
	background-image: -webkit-linear-gradient(top,#9b59b6 0,#8e44ad 100%);
    background-image: -o-linear-gradient(top,#9b59b6 0,#8e44ad 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9b59b6),to(#8e44ad));
    background-image: linear-gradient(to bottom,#9b59b6 0,#8e44ad 100%);
	background-repeat: repeat-x;
    border-color: #803D9C;
}
.menuFive:hover {
	background-image: none;
	background-color: #9b59b6;
}

*/

@media screen and (max-width: 1100px) {


	.introLarge {
		display: none;
	}
	.introSmall {
		display: block;
		text-align: center;
		margin-bottom: 1em;
		font-size: 0.7em;
	}
}
@media screen and (max-width: 480px) {

	.header {
		display: none;
	}
	.headerMobile {
		display: block;
		background-image: url("/images/fabric_of_squares_gray.png");
		border-bottom: solid 8px #c0392b;
		margin: 18px 0 18px 0;
	}
	.headerMobile p{
		color: #DCDBD6;
	/*	text-shadow: 0px 0px 2px #F5F3EE;*/
		text-decoration: none;
		font-family: 'Rokkitt', serif;
		font-size: 5em;
		margin: -30px 0 0 0;
	}
  .madeTitle {
  	margin-bottom: 5%;
  }
  .titleTwo {
  	padding-top: 5%;
  }
  .madeBox img {
  	width: 80%;
  	margin: auto;
  }
  .madeDescription {
  	font-size: 2em;
  	margin-top: 5%;
  }
  .madeLink {
  	font-size: 2em;
  	margin-top: 5%;
  }
}
