
body {
    background-color: #5B5252;
    background-image: url("/images/fabric_of_squares_gray.png");
    text-align: center;
    font-family: "Open Sans", Geneva, sans-serif;
    font-size: 100%;

}
h1 {
    font-size: 3.5em; /* 48 / 16 */
}
h2 {
    font-size: 2.75em; /* 36 / 16 */
}
h3 {
    font-size: 2em; /* 24 / 16 */
}
h4 {
    font-size: 1.3125em; /* 21 / 16 */
}
h5 {
    font-size: 1.125em; /* 18 / 16 */
}
h6 {
    font-size: 1em; /* 16 / 16 */
}
p {
    font-size: 1em; /* 16 / 16 */
}

 	/* header */
.header {
	background-image: url("/images/fabric_of_squares_gray.png");
	border-bottom: solid 8px #c0392b;
	margin: 18px 0 18px 0;
}
.headerMobile {
	display: none;
}
.header p{
	color: #DCDBD6;
/*	text-shadow: 0px 0px 2px #F5F3EE;*/
	text-decoration: none;
	font-family: 'Rokkitt', serif;
	font-size: 6em;
	margin: -30px 0 0 0;
}
.titleFill {
	color: #C0392B;
	text-shadow: 2px 2px 2px gray;
	font-family: 'Rokkitt', serif;
}
.titleFill:hover {
	text-decoration: none;
	color: #e74c3c;
	text-shadow: 2px 2px 2px gray;
}
.colorOne:hover {
	color: #F1948A;
}
.colorTwo:hover {
	color: #F0B27A;
}
.colorThree:hover {
	color: #F7DC6F;
}
.colorFour:hover {
	color: #76D7C4;
}
.colorFive:hover {
	color: #85C1E9;
}


	/* menu */
.menu {
	font-size: 2.5em;
	background-image: url("/images/fabric_of_squares_graydark.png");
	width: 100%;
	text-align: right;	
}
.menu p {
	color: white;
	height: 35px;
	line-height: 60px;
}
.btn {
	margin: 1% 1%;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
	color: #fff;
	font-weight: bold;
}
.menuOne {
	background-image: -webkit-linear-gradient(top,#e74c3c 0,#c0392b 100%);
    background-image: -o-linear-gradient(top,#e74c3c 0,#c0392b 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e74c3c),to(#c0392b));
    background-image: linear-gradient(to bottom,#e74c3c 0,#c0392b 100%);
	background-repeat: repeat-x;
    border-color: #AD3327;
}
.menuOne:hover {
	background-image: none;
	background-color: #e74c3c;
}
.menuTwo {
	background-image: -webkit-linear-gradient(top,#e67e22 0,#d35400 100%);
    background-image: -o-linear-gradient(top,#e67e22 0,#d35400 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e67e22),to(#d35400));
    background-image: linear-gradient(to bottom,#e67e22 0,#d35400 100%);
	background-repeat: repeat-x;
    border-color: #BE4C00;
}
.menuTwo:hover {
	background-image: none;
	background-color: #e67e22;
}
.menuThree {
	background-image: -webkit-linear-gradient(top,#f1c40f 0,#f39c12 100%);
    background-image: -o-linear-gradient(top,#f1c40f 0,#f39c12 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1c40f),to(#f39c12));
    background-image: linear-gradient(to bottom,#f1c40f 0,#f39c12 100%);
	background-repeat: repeat-x;
    border-color: #DB8C10;
}
.menuThree:hover {
	background-image: none;
	background-color: #f1c40f;
}
.menuFour {
	background-image: -webkit-linear-gradient(top,#1abc9c 0,#16a085 100%);
    background-image: -o-linear-gradient(top,#1abc9c 0,#16a085 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1abc9c),to(#16a085));
    background-image: linear-gradient(to bottom,#1abc9c 0,#16a085 100%);
	background-repeat: repeat-x;
    border-color: #149078;
}
.menuFour:hover {
	background-image: none;
	background-color: #1abc9c;
}
.menuFive {
	background-image: -webkit-linear-gradient(top,#3498db 0,#2980b9 100%);
    background-image: -o-linear-gradient(top,#3498db 0,#2980b9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3498db),to(#2980b9));
    background-image: linear-gradient(to bottom,#3498db 0,#2980b9 100%);
	background-repeat: repeat-x;
    border-color: #2573A6;
}
.menuFive:hover {
	background-image: none;
	background-color: #3498db;
}


/* 'things i've made' section */
.madeBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 1% 0 5% 0;
}
.madeLeader{
	color: #c0392b;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #c0392b;
	text-decoration: none;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Rokkitt', serif;
}
.madeTitle {
	font-weight: bold;
	margin-bottom: 2%;
}
.titleTwo {
	padding-top: 2%;
	border-top: solid 2px white;
}
.madeBox img {
	width: 70%;
	margin-right: -30%;
}
.madeDescription {
	font-size: 3em;
	text-align: left;
	margin-top: 2%;
}
.madeLink {
	color: #f1c40f;
	text-decoration: none;
	font-size: 2.5em;
	margin-top: 2%;
}
.madeLink a {
	color: #f1c40f;
}

.bb-swap:hover {
	cursor: pointer;
}
.td-swap:hover {
	cursor: pointer;
}


/* 'things i've been' section */
.beenLeader{
	color: #d35400;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #d35400;
	text-decoration: none;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Rokkitt', serif;
}
.beenBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
}
.fa-check-square-o {
	color:gray;
}


/* 'things i've learned' section */
.learnedLeader{
	color: #f39c12;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #f39c12;
	text-decoration: none;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Rokkitt', serif;
}
.learnedBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
}
.fa-graduation-cap {
	color:gray;
}


/* 'things i've done' section */
.doneLeader{
	color: #16a085 !important;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #16a085;
	text-decoration: none;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Rokkitt', serif;
}
.doneBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
}
.fa-bicycle {
	color:gray;
}


/* 'blog' section */
.blogLeader{
	color: #2980b9;
	font-weight: bold;
	background-image: url("/images/fabric_of_squares_gray.png");
	padding: 1% 0;
	border-bottom: solid 8px #2980b9;
	text-decoration: none;
	text-shadow: 1px 1px 1px gray;
	font-family: 'Rokkitt', serif;
}
.blogBox {
	background-image: url("/images/fabric_of_squares_graydark.png");
	color: white;
	padding: 2% 0 2% 0;
	font-size: 2em;
}
.fa-pencil {
	color:gray;
}



	/* footer and links */

.footer {
	font-size: 3em;
	background-image: url("/images/fabric_of_squares_gray.png");
	text-decoration: none;
	padding: 2% 0 2% 0;
	font-size: 4em;
}
.footer a {
	padding: 0 2%;
}
.footOne {
	color: #c0392b;
	text-shadow: 1px 1px 1px gray;
}
.footOne:hover {
	text-decoration: none;
	color: #e74c3c
}
.footTwo {
	color: #d35400;
	text-shadow: 1px 1px 1px gray;
}
.footTwo:hover {
	text-decoration: none;
	color: #e67e22
}
.footThree {
	color: #f39c12;
	text-shadow: 1px 1px 1px gray;
}
.footThree:hover {
	text-decoration: none;
	color: #e67e22
}
.footFour {
	color: #16a085;
	text-shadow: 1px 1px 1px gray;
}
.footFour:hover {
	text-decoration: none;
	color: #1abc9c
}
.footFive {
	color: #2980b9;
	text-shadow: 1px 1px 1px gray;
}
.footFive:hover {
	text-decoration: none;
	color: #3498db
}


/* project pages */
.projectPage {
	background-image: url("/images/fabric_of_squares_graydark.png"); 
	padding: 3% 0;
}
.outerPage {
	background-image: url("/images/fabric_of_squares_gray.png");
	box-sizing: border-box;
	max-width: 77%;
	margin: auto;
	padding: 1% 1%;
}
.innerPage {
	background-image: url("/images/fabric_of_squares_gray.png");
	border: solid 8px #f39c12;
	box-sizing: border-box;
	max-width: 98%;
	margin: auto;
	padding: 1% 1%;
	margin: .5% .5%;
	font-size: 1.7em;
	text-align: left;
}
.projectTitle {
	text-shadow: 2px 2px 2px gray;
	font-family: 'Rokkitt', serif;
	color: #f39c12;
	text-align: center
}
.imageCaptionPage {
	display: inline-block;
}

/*
.menuFive {
	background-image: -webkit-linear-gradient(top,#9b59b6 0,#8e44ad 100%);
    background-image: -o-linear-gradient(top,#9b59b6 0,#8e44ad 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9b59b6),to(#8e44ad));
    background-image: linear-gradient(to bottom,#9b59b6 0,#8e44ad 100%);
	background-repeat: repeat-x;
    border-color: #803D9C;
}
.menuFive:hover {
	background-image: none;
	background-color: #9b59b6;
}

*/

@media screen and (max-width: 480px) {

	.header {
		display: none;
	}
	.headerMobile {
		display: block;
		background-image: url("/images/fabric_of_squares_gray.png");
		border-bottom: solid 8px #c0392b;
		margin: 18px 0 18px 0;
	}
	.headerMobile p{
		color: #DCDBD6;
	/*	text-shadow: 0px 0px 2px #F5F3EE;*/
		text-decoration: none;
		font-family: 'Rokkitt', serif;
		font-size: 6em;
		margin: -30px 0 0 0;
	}
}