<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>melinda evans's portfolio</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Rokkitt:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="header">
      <p>es}<span class="colorOne">melinda{codes}</span><span class="colorTwo">melinda{codes}</span><span class="colorThree">melinda{codes}</span><span class="colorFour">melinda</span></p>
      <p><span class="colorFive">da{codes}</span><span><a href="/" class="titleFill">melinda{codes}</a></span><span class="colorOne">melinda{codes}</span><span class="colorTwo">melinda{codes}</span>m</p>
      <p class="titleOutlineBottom"><span class="colorThree">elinda{codes}</span><span class="colorFour">melinda{codes}</span><span class="colorFive">melinda{codes}</span><span class="colorOne">melinda{code</span></p>
    </div>

    <div class="headerMobile">
      <p><span class="colorTwo">melinda{codes}</span></p>
      <p><span><a href="/" class="titleFill">melinda{codes}</a></span></p>
      <p class="titleOutlineBottom"><span class="colorFive">melinda{codes}</span></p>
    </div>

    <div  class="contentLarge">
      <div class="menu container-fluid">
        <div class="row navButton ">
          <a class="btn menuThree returnHome" href="../index.html" role="button"><i class="fa fa-home"></i> Head back Home</a>          
        </div>
      </div>
    </div>
		<div>	
			<div class="projectPage">
				<div class="outerPage">
					<div class="innerPage"> 
						<h1 class="projectTitle">Bike Barn</h1>
				
						<p>As a motorcycle safety instructor I see our fleet always in a state of flux. Communication between the garage and the office can be unpredictable.  It seemed that a tool to store all the vitals of a bike existed in a simple excel spreadsheet. But that spreadsheet had no connection to the life of the bike as chronicled in notebooks in the garage or word of mouth and memory. So I set out to bridge the gap.</p>

						<p>Bike Barn is designed to help motorcycle training facilities, and enthusiasts with a full garage, connect and share all the data on their machines, whether sitting at their desk or standing next to a motorcycle in their garage. It lets anyone check the status of any bike in the fleet at any time.</p>		

						<ul class="imgList">Bike Barn has:
							<li class="listRow">
								<img class="imgLeft" src="/images/bb-long-500.png">	<p class="imgCaption">A page that has all the information on every bike in a sortable list. From color to VIN.</p>
							</li>
							<li>
								<p class="imgCaption">Two abbreviated lists with only essential data, one for ready bikes, one for offline bikes.</p><img class="imgRight" src="/images/bb-short-500.png">
							</li>
							<li class="listRow">
								<img class="imgLeft" src="/images/bb-new-500.png"><p class="imgCaption">A validated form for entering all pertinent data on a new machine.</p>
							</li>
							<li>
								<p class="imgCaption">A maintenance log that can be called up by selecting any bike on any list.</p><img class="imgRight" src="/images/bb-log-500.png"></li>
							<li class="listRow">
								<img class="imgLeft" src="/images/bb-stats-500.png"><p class="imgCaption">A quick overview of bike readiness, year and type.</p>
							</li>
							<li>
								<p class="imgCaption">Mobile versions of pages that would be useful in the garage</p><img class="imgRight" src="/images/bb-mobile.png">
							</li>
						</ul>

						<ul>
							<li>
								Lists are sortable for easy access to desired data. The complete maintenance history on each motorcycle can be seen from anywhere. And any bike can be marked as ready or offline with a touch.
							</li>
							<li>
								All data is stored in an offsite, secure, synchronized database.
							</li>
							<li>
								Bike-barn is expandable, with room for more data fields if needed. And there’s a framework pre-built for a parts database. It’s primed for expansion.
							</li>
						</ul>

						<div class="challenges">
							<h2 class="projectTitle">Challenges</h2>

							<h5>Nested Arrays and Objects</h5>
							<p>I came across many "It should work" moments dealing with nested data. I had to learn how to convince Firebase to do what I needed, in the manner I needed it to do it. It was difficult sometimes. I know that some of this knowledge won't transfer outside of Firebase, but what I learned about figuring it out will translate to any language.</p>

							<h5>Ah-ha!</h5>
							<p> I bumped into many "how do I do this?" roadblocks. This whole project was an education for me. The most valuable lessons came at these "Ah-ha!" moments. I would be frustrated and reading the same posts on the topic for the 5th time, and something would shift. I'd grasp a concept, or I'd think of a slightly different way to do it so it would work. Those kept me going. I don't know how to do everything. But I can figure it out.</p>

							<h5>Expandability</h5>
							<p>I had to keep in mind "what if?" I structured the database array several different ways before I figured out which tree structure lent itself to future add-ons.</p>

							<h5>Goals</h5>
							<p>I learned to keep my goals firmly in mind. It was easy to think of interesting functionality beyond the current focus. I wound up keeping a notepad to jot ideas in. Doing so satisfied the need to pursue them, and helped keep me working towards the current objective</p>

							<h5>More!</h5>
							<p>I had a chance to play with Scalable Vector Graphics. It was frustrating to do a tutorial and put together a basic display from it (the donut graphs on the opening view), and not dig deeper. It's another example of staying focused on the task at hand. But I got glimpses into other deep pools of knowledge that I want to dive into.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="footer">
<!--       <a class="footOne fa fa-user"
        href="/"
        target="_blank" title="About me"></a> -->
      <a class="footTwo fa fa-file-text-o"
        href="/templates/resume.html"
        target="_blank" title="Look at my resume"></a>
      <a class="footThree fa fa-envelope"
        href="https://docs.google.com/forms/d/1INvIhs93ik23oLTp7lNfUuSeF5lNCQyho-aicF34vCw/viewform?usp=send_form"
        target="_blank" title="Contact me"></a>
      <a class="footFour fa fa-github"
        href="https://github.com/melindae"
        target="_blank" title="My Github repository"></a>
      <a class="footFive fa fa-linkedin-square"
        href="https://www.linkedin.com/pub/melinda-evans/b9/b7b/b4"
        target="_blank" title="My Linkedin profile"></a>
    </div>
  </body>
</html>




















