<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>melinda evans's portfolio</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Rokkitt:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="header">
      <p>es}<span class="colorOne">melinda{codes}</span><span class="colorTwo">melinda{codes}</span><span class="colorThree">melinda{codes}</span><span class="colorFour">melinda</span></p>
      <p><span class="colorFive">da{codes}</span><span><a href="/" class="titleFill">melinda{codes}</a></span><span class="colorOne">melinda{codes}</span><span class="colorTwo">melinda{codes}</span>m</p>
      <p class="titleOutlineBottom"><span class="colorThree">elinda{codes}</span><span class="colorFour">melinda{codes}</span><span class="colorFive">melinda{codes}</span><span class="colorOne">melinda{code</span></p>
    </div>

    <div class="headerMobile">
      <p><span class="colorTwo">melinda{codes}</span></p>
      <p><span><a href="/" class="titleFill">melinda{codes}</a></span></p>
      <p class="titleOutlineBottom"><span class="colorFive">melinda{codes}</span></p>
    </div>

    <div  class="contentLarge">
      <div class="menu container-fluid">
        <div class="row navButton ">
          <a class="btn menuOne returnHome" href="../index.html" role="button"><i class="fa fa-home"></i> Head back Home</a>          
        </div>
        <div class="resButton row navButton">
          <a class="btn resButton menuThree" href="../images/Melinda_Evans_WebDev.pdf" target="_blank">Download PDF </a>
          <a class="btn resButton menuFour" href="../images/Melinda_Evans_WebDev.docx" target="_blank">Download Word Document </a>
          <a class="btn resButton menuFive" href="http://www.slideshare.net/MelindaEvans1/melinda-evans-front-end-web-developer" target="_blank">View on SlideShare</a>
        </div>
      </div>
    </div>

    <table class="resume">
      <tr>
        <td class="resName">Melinda Evans</td>
        <td class="resTitle">Junior Front End Web Developer</td>
      </tr>
      <tr  class="resLinks">
        <td colspan=2><a href="http://github.com/melindae"> Github: github.com/melindae</a> &nbsp &nbsp ● &nbsp &nbsp <a href="http://www.melindacodes.com">Portfolio: www.melindacodes.com</a> &nbsp &nbsp ● &nbsp &nbsp <a href="mailto:melinda@melindacodes.com">melinda@melindacodes.com</a>
        </td>
      </tr>
      <tr>
        <td colspan="2" >
          <p class="resSection">Profile</p>
          <ul class="resText">
            <li>Planned, constructed and maintained web applications for clients using:</li>
              <ul>
                <li> HTML5 ▪ CSS3 ▪ JavaScript ▪ AngularJS ▪ JQuery ▪ Git ▪ Bootstrap ▪ Grunt ▪ Responsive Design</li>
              </ul>
            <li>Adept at understanding the client’s goals and building a realistic timeline to achieve the final product.</li>
            <li>Created, implemented and maintained creative software and hardware solutions for ongoing company needs.</li>
            <li>Broken down difficult educational concepts and developed logical flows for teaching plans.</li>
          </ul>
          
          <p class="resSection">Key Skills</p>
          <table class="resTable resText">
            <tr>
              <td>▪ Front End Programming</td>
              <td>▪ Coding</td>
              <td>▪ Project management</td>
            </tr>
            <tr>
              <td>▪ Knowledge sharing</td>
              <td>▪ Quality Control testing</td>
              <td>▪ Project Management</td>
            </tr>
            <tr>
              <td>▪ Visual design</td>
              <td>▪ Vector graphics</td>
              <td>▪ Troubleshooting</td>
            </tr>
          </table>

          <p class="resSection">Employment History</p>
          <div class="resText">
            <p class="resDate">2014 – 2015 &nbsp &nbsp Student, Bloc IO, Front End Web Dev Track</p>
            <ul>
              <li>Capstone project application is in use by client and being updated regularly.</li>
            </ul>

            <p class="resDate">2013 - 2015 &nbsp &nbsp Phlebotomist, Sisters of Mercy, Springfield/Worcester MA</p>

            <p class="resDate">2008 - 2010 &nbsp &nbsp Student, Fitchburg State University, Fitchburg MA</p>
            <ul>
              <li>Master’s program in Elementary Education.</li>
              <li>Trained in educational philosophy and the various ways people acquire and organize data.</li>
            </ul>

            <p class="resDate">2006 - 2008 &nbsp &nbsp Paraprofessional, Narragansett Regional School Dist., Templeton, MA</p>

            <p class="resDate">1998 - pres. &nbsp &nbsp MSF Instructor, Central Mass Safety Council, West Boylston, MA</p>
            <ul>
              <li>Gained understanding of how the adult learns and seeks new information.</li>
              <li>Practiced breaking down data flows for student comprehension.</li>
            </ul>

            <p class="resDate">2001 - 2005 &nbsp &nbsp CIO, Boston IVF, Waltham, MA</p>
            <ul>
              <li>Designed, built and implemented:
                <ul>
                  <li>a responsive Help Desk system </li>
                  <li>a barcoded medical record tracking system</li>
                </ul>
              </li>          
            </ul>

            <p class="resDate">1999 - 2001 &nbsp &nbsp Senior System Analyst, Send.com, Waltham, MA</p>
            <ul>
              <li>Designed and managed an Enterprise network.</li>
              <li>Performed system upgrades, data migration, new technology integration. </li>
            </ul>

            <p class="resDate">1997 - 1999 &nbsp &nbsp Senior Field Engineer, MicroAge Inc., Burlington, MA</p>
            <ul>
              <li>Progressed from a Bench Tech to a consulting M.C.S.E.</li>
            </ul>        

            <p class="resDate">991 -1997 &nbsp &nbsp Unix/Comm systems, Combat Photographer, United States Army</p>
            <ul>
              <li>Worked with highly critical uptime systems requiring several clearances</li>
              <li>Practiced breaking down data flows for student comprehension</li>
            </ul>
          </div>

          <p class="resSection">Hobbies</p>
          <p class="resText resTable"> ▪  Motorcycle touring  ▪  Building cool web apps ▪  Geocaching  ▪  Bicycling  ▪  Legos  ▪  Quilting <br/>
          ▪  Computer gaming  ▪  Logic problems  ▪  Reading ▪  Learning new skills  ▪  Teaching
          </p>

        </td>
      </tr> 
    </table>  




    <div class="footer resFooter">
<!--       <a class="footOne fa fa-user"
        href="/"
        target="_blank" title="About me"></a> -->
      <a class="footTwo fa fa-file-text-o"
        href="/templates/resume.html"
        target="_blank" title="Look at my resume"></a>
      <a class="footThree fa fa-envelope"
        href="https://docs.google.com/forms/d/1INvIhs93ik23oLTp7lNfUuSeF5lNCQyho-aicF34vCw/viewform?usp=send_form"
        target="_blank" title="Contact me"></a>
      <a class="footFour fa fa-github"
        href="https://github.com/melindae"
        target="_blank" title="My Github repository"></a>
      <a class="footFive fa fa-linkedin-square"
        href="https://www.linkedin.com/pub/melinda-evans/b9/b7b/b4"
        target="_blank" title="My Linkedin profile"></a>
    </div>
  </body>
</html>