<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>melinda evans's portfolio</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Rokkitt:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/js/app.js"></script>
  </head>

  <body>
    <div class="header">
      <p>es}<span class="colorOne">melinda{codes}</span><span class="colorTwo">melinda{codes}</span><span class="colorThree">melinda{codes}</span><span class="colorFour">melinda</span></p>
      <p><span class="colorFive">da{codes}</span><span><a href="/" class="titleFill">melinda{codes}</a></span><span class="colorOne">melinda{codes}</span><span class="colorTwo">melinda{codes}</span>m</p>
      <p class="titleOutlineBottom"><span class="colorThree">elinda{codes}</span><span class="colorFour">melinda{codes}</span><span class="colorFive">melinda{codes}</span><span class="colorOne">melinda{code</span></p>
    </div>

    <div class="headerMobile">
      <p><span class="colorTwo">melinda{codes}</span></p>
      <p><span><a href="/" class="titleFill">melinda{codes}</a></span></p>
      <p class="titleOutlineBottom"><span class="colorFive">melinda{codes}</span></p>
    </div>

    <div  class="contentLarge">
      <div class="menu container-fluid">
        <div class="row navButton ">
          <a class="btn menuTwo returnHome" href="../index.html" role="button"><i class="fa fa-home"></i> Head back Home</a>          
        </div>
      </div>
    </div>
		<div>
			<div class="projectPage">
				<div class="outerPage">
					<div class="innerPage innerPageTwo"> 
						<h1 class="projectTitle projectTitleTwo">To-Do</h1>
				
						<p>This is a simple, single page architectured, synchronized to-do list built with AngularJS I built as a learning project.</p>

						<ul>I wanted to be able to:
							<li>see completed or expired items</li>
							<li>select and view categories</li>
							<li>have tasks expire after a week</li>
							<li>use it from my phone or tablet</li>
							<li>change the theme and color</li>
						</ul>


			<p>I used a remote database so it would be accessible anywhere and made it responsive so I could use it on my phone.</p>

			<p>I learned a lot making it. It was daunting at the time. Now it’s a reminder that small and simple can be useful and elegant. </p>
					

						<ul class="imgList">To-Do has:
							<li class="listRow">
								<img class="imgLeft" src="/images/td_1.png">	<p class="imgCaption">A page that shows all the undone, not expired tasks sorted by value. the information on every bike in a sortable list. From color to VIN. This is where new to-dos are added with type (home, work, play) and value (high, medium, low) being options.</p>
							</li>
							<li>
								<p class="imgCaption">The front page is also where you can select a color scheme</p><img class="imgRight" src="/images/pallet.png">
							</li>
							<li class="listRow">
								<img class="imgLeft" src="/images/td-types.png"><p class="imgCaption">The type of tasks to be shown can be chosen.</p>
							</li>
							<li>
								<p class="imgCaption">The "Old Tasks" page shows all tasks that are checked as complete or have been ondone after a week and have expired</p><img class="imgRight" src="/images/td_old.png"></li>
							<li class="listRow">
								<img class="imgLeft" src="/images/td-mobile.png"><p class="imgCaption">Mobile views allows entering to-dos as they come up and reminders on the go.</p>
							</li>
						</ul>

							<div class="challenges">
							<h2 class="projectTitle projectTitleTwo">Challenges</h2>

							<h5>Wanting to do too much</h5>
							<p>I was afflicted by "it can do this too" syndrome. It was hard work to keep it simple. As my first real, solo project it was easy to be awed by the potentials and get lost in unfinished branches. It was good practice staying on target.</p>

							<h5>Staying organized</h5>
							<p> As I started I had to step back and look at my workflow. Branch, code, add, commit change, push. I worked to keep my workflow clean. I kept the thought that I was working in a group and anyone could step in and see where I was and take the next step with minimal guidance from me.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="footer">
<!--       <a class="footOne fa fa-user"
        href="/"
        target="_blank" title="About me"></a> -->
      <a class="footTwo fa fa-file-text-o"
        href="/templates/resume.html"
        target="_blank" title="Look at my resume"></a>
      <a class="footThree fa fa-envelope"
        href="https://docs.google.com/forms/d/1INvIhs93ik23oLTp7lNfUuSeF5lNCQyho-aicF34vCw/viewform?usp=send_form"
        target="_blank" title="Contact me"></a>
      <a class="footFour fa fa-github"
        href="https://github.com/melindae"
        target="_blank" title="My Github repository"></a>
      <a class="footFive fa fa-linkedin-square"
        href="https://www.linkedin.com/pub/melinda-evans/b9/b7b/b4"
        target="_blank" title="My Linkedin profile"></a>
    </div>
  </body>
</html>